<html>
  <head>
    <title>Job Description Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="/angularjs/ng-file-upload.min.js"></script>
    <script src="/angularjs/jobapplyAngularJS.js"></script>
  </head>
  <style>
      #header {
	        margin: 0px 10%;
	        padding: 0;
	        height: 8%;
	        width: 80%;
            border-bottom:2px solid #D3D3D3;
        }
      #header .title {
            position: relative;
            text-align: left;
            color:	#696969;
            top: 20px;
            font-family:"Times New Roman", Times, serif;
            font-size:20px;
        }
      #container{
          width:80%;
          top:30px;
          margin: 0px 10%;
      }
      ul {
          float: left;
          margin-left: 0;
          padding-left: 0;
          width: 20%;
          list-style-type: none;
      }

      ul a{
          display: block;
          width: 200px;
          text-align: center;
          height: 40px;
          line-height: 40px;
          background: #f8f8f8;
        }
      ul .active a, ul a:hover{
          background: #000080;
          color: #ffffff;
      }
      p{ word-break:break-all; }

      #right {
          position: relative;
          float: right;
          top:50px;
          left:50px;
          margin-right: 0;
          padding-right: 0;
          width: 20%;
          text-align: left;
      }
      #center {
          position: relative;
          top: 50px;
          margin: 0 auto;
          width:60%;

      }
      th {color:	#696969;}
      td {color:	#696969;}

      #submittedImage {

          width: 40%;
          height: auto;
          border-color: #ffffff;

      }


  </style>
  <body>
      <div ng-app="jobapply" ng-controller="myCtrl">
          <div id="header">
              <p class = "title">Job Description
              <a class="btn btn-primary" style = "float: right;" ng-click="signOut()">Sign Out</a>
              <a class="btn btn-primary" style = "float: right;" ng-click="getAccount(false)">Account</a>
              </p>
          </div>
          <div id="container">
              <div id = "center">
                  <div style = "text-align: center">
                    <table class="table table-striped table-hover">
                        <tr><th><div >Job Description</div></th> <th>&nbsp;</th></tr>
                        <tr><td>Title:&nbsp; </td><td><%= job.title %></td></tr>
                        <tr><td>Description:&nbsp; </td><td><%= job.description %></td></tr>
                        <tr><td>Responsibilities:&nbsp; </td><td><%= job.responsibilities %></td></tr>
                        <tr><td>Location:&nbsp; </td><td><%= job.location %></td></tr>
                        <tr><td>Salary:&nbsp; </td><td><%= job.salary %></td></tr>
                    </table>
                  </div>
                  <br><br>
                  <div style = "text-align: center">
                  <table class="table table-striped table-hover">
                      <tr><th><div>Seeker Info</div></th><th>&nbsp;</th></tr>
                      <tr><td>First Name:&nbsp; </td><td><%= seeker.firstname %></td></tr>
                      <tr><td>Last Name:&nbsp; </td><td> <%= seeker.lastname %> </td></tr>
                      <tr><td>Email:&nbsp; </td><td><%= seeker.email %></td></tr>
                  </table>
                </div>
                    <div style = "text-align: center">
                    <table class="table table-striped table-hover">
                        <tr><th><div>Application</div></th></tr>
                        <tr><th>Apply with Resume&nbsp;&nbsp;<input id = "resume" type="file" ngf-select ng-model="file" ng-change="uploadResume()" accept = "application/pdf" /></th></tr>
                        <tr><th><a class="btn btn-primary btn-sm" ng-click="submit('<%= job.id %>')">Submit</a></th></tr>
                    </table>
                    </div>

                </div>


              </div>
          </div>
  </body>
</html>
